@media only screen and (min-width: 1000px) {
	#tamanho-tela {
		width: 80vw;
	}
}

textarea {
    border-radius: 5px;
    padding: 1em;
}

select {
    border-radius: 5px;
    padding: .5em;
    border: none;
}

.tamanho-menu {
    padding: 1em;
}

#informacoes > div > a {
    color: white;
    font-size: 2em;
    transition-duration: .5s;
}

#informacoes > div > a:hover {
    color: #ffb320;
}

#conteudo {
    background-color: rgba(255, 255, 255, 0.027);
	max-height: 100vh;
	overflow-y: scroll;
    border-radius: 5px;
}

.dropdown-menu {
    padding: .5em .5em;
}

#titulo {
    margin-top: .4em;
    margin-bottom: .6em;
}

#feed {
	max-height: 85vh;
    overflow-y: scroll;
    margin-left: 0px;
    margin-right: 0px;
}

#elementos-form-post {
    margin-top: .7em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#usuario-foto > a > img {
    border-radius: 50%;
    width: 2em;
}

#informacoes {
    margin: 1em 1em;
}

#informacoes > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    background-color: rgba(255, 255, 255, 0.904);
    padding: .4em;
    margin: .5em 0;
    border-radius: 5px;
}

.foto-autor {
    border-radius: 50%;
    width: 5em;
}

.data-post {
    color: #ffb320;
    font-weight: bold;
}

.cabecalho-post {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    margin-top: .2em;
}

.comentarios {
    display: block;
    transition-delay: 3ms;
}

.comentarios > form {
    margin-bottom: 1em;
}

.comentarios > form > input {
    padding: 0 1em;
}

#container-comentarios {
    display: flex;
    flex-direction: column;
}

.comentario {
    background-color: #b3b3b3;
    margin: .5em 1em;
    padding: 1em;
    border-radius: 10px;
    max-width: 80vw;
    width: auto;
}

/* #resultado-busca {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    position: absolute;
    margin-top: -1.8vh;
} */
