@media only screen and (min-width: 1000px) {
	#tamanho-tela {
		width: 80vw;
	}
}

textarea {
    border-radius: 5px;
    padding: 1em;
}

select {
    border-radius: 5px;
    padding: .5em;
    border: none;
}

#conteudo {
    background-color: rgba(255, 255, 255, 0.027);
	max-height: 100vh;
	overflow-y: scroll;
    border-radius: 5px;
}

#titulo {
    margin-top: .2em;
    margin-bottom: .8em;
}

#feed {
	max-height: 85vh;
	overflow-y: scroll;
}

#elementos-form-post {
    margin-top: .7em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post {
    background-color: rgba(255, 255, 255, 0.904);
    padding: .4em;
    margin: .5em 0;
    border-radius: 5px;
}

.foto-autor {
    border-radius: 50%;
    width: 5em;
}

.data-post {
    color: #ffb320;
    font-weight: bold;
}

.cabecalho-post {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    margin-top: .2em;
}
